body{
    font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background:linear-gradient(to right, #9e8c37, #ffe76d, #9e8c37);
            color: rgb(43, 43, 43);
}
.lore{
    text-align: center;
    padding: 50px 20px;
    margin: 0;
    margin-top: 60px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: #cccccc;
    border-radius: 20px;
    border: black solid 5px;
}
#seta{
    width:80px;
    height:80px;
    margin-left: 10px;
  }
  #seta:hover {
    transform: scale(1.1);
}
  h1, h2{
    text-align: center;
    position: relative;
  }
  #emoji{
    width:180px;
    height:180px;
  }
